
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

.logo-top {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

main {
    width: 375px;
    border-radius: 20px;
    background: #F4F4F4;
    margin: 0 auto 50px;
    padding: 44px 24px 23px;
}

label {
    color: black;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #FFFF;
    border: 1px solid #BBBB;
    border-radius: 10px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

button {
    border-radius: 5px;
    background: rgb(6, 171, 157);
    width: 100%;
    border: none;
    height: 48px;
    color:#F4F4F4;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    color: #777777;
    font-size: 14px;
}

.moeda-valor, .moeda-valor-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;

}